body {
    background-color: #1c1c1c;
    color: white;
    font-family: 'Libre Baskerville', serif;
    font-size: 60px;
    margin-bottom: 100px;
}
.container{
    height: 100%;
    width: 60%;
    display: flex;
    position:fixed;
    align-items: center;
    justify-content: center;
    margin-left: 20%;
    margin-right: 20%;
    text-align: center;
    line-height: 80px;
}
.outer{
    margin-bottom: -50px;
}
